<?xml version="1.0" encoding="utf-8" ?>

<routes>
    <route path="/" action="index" controller="PostController"/>
    <route path="show" action="show" controller="PostController" params="id"/>
    <route path="author" action="author" controller="PostController"/>

    <route path="login" action="index" controller="SecurityController" params="login,pw"/>

</routes>